<div *ngIf="artist">
  <header class="artist-header row">
    <div class="col-md-3" *ngIf="artist.images.length">
      <img src="{{artist.images[0].url}}" class="img-circle" style="width: 100%;">
    </div>
    <div class="col-md-9">
      <h1>{{artist.name}}</h1>
      <strong>Genres: </strong>
      <span *ngFor="let genre of artist.genres">{{genre}} </span>
    </div>
  </header>
  <div class="row">
    <div *ngFor="let album of albums" class="col-md-3">
        <div class="album well">
          <img src="{{album.images[0].url}}" class="album-thumb img-thumbnail" alt="">
          <h4>{{album.name}}</h4>
          <a routerLink="/album/{{album.id}}" class="btn btn-default btn-block">Album Details</a>
      </div>
    </div>
  </div>
</div>
