<h1>Music Search</h1>
<p class="lead">Search Spotify for music</p>

<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Artists..." [(ngModel)]="searchStr" name="searchStr" (keyup)="searchMusic()">
  </div>
</form>


<div *ngIf="searchRes">
  <div *ngFor="let artist of searchRes" class="row well">
    <div class="col-md-1" *ngIf="artist.images.length">
      <img src="{{artist.images[0].url}}" style="width: 100%;">
    </div>
    <div class="col-md-11">
      <h4><a routerLink="/artist/{{artist.id}}">{{artist.name}}</a></h4>
      <strong>Genres: </strong>
      <span *ngFor="let genre of artist.genres">{{genre}} </span>
    </div>
  </div>
</div>
